<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Homemade, With Love</span>
                            <span class="section-heading-lower">About Our Bakery</span>
                        </h2>
                        <p>Founded in 2020 by Amy, our establishment has been serving up rich treats to patrons in the Tricity area. We are dedicated to baking the best cakes and other baked items with a smile.</p>
                        <p class="mb-0">
                            We guarantee that you will fall in <em>lust</em> with our decadent blends the moment you walk inside until you finish your last bite. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
