<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Amy Bakes</span>
        <!--<span class="site-heading-lower">Home Made</span>-->
    </h1>
</header>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/cake-intro1.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <img src="assets/img/logo/logo.png" alt="..." />
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Eggless Cakes, Home Made</span>
                    <br/>
                    <span class="section-heading-lower">Delicious in Taste</span>
                </h2>
                <!--<p class="mb-3">Cake enthusiasts with 32 sweet teeth!</p>-->
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" routerLink="/order">Order Now!</a></div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta" style="background-image: url(assets/img/pattern.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <!--<span class="section-heading-lower">To You</span>-->
                    </h2>
                    <p class="mb-0">Fresh eggless cakes made with the finest ingredients in hygienic conditions!</p>
                    <br/>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" routerLink="/about">About Us</a>
                        <a class="btn btn-primary btn-xl" routerLink="/products">Products</a>
                        <a class="btn btn-primary btn-xl" routerLink="/gallery">Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/rakhi.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Pre-order For</span>
                    <span class="section-heading-upper">Raksha Bandhan!</span>
                </h2>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta" style="background-image: url(assets/img/pattern.jpg);background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <p class="mb-0">
                        <em>
                            <strong>Connect With Us</strong>
                            <br />

                        </em>
                    </p>
                    <p class="mb-0">
                        <!--<small><img src="assets/img/social/phone.png" height="20px"; width="20px";/></small>-->
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel://+919815823505" target="_blank">(+91) 9815823505</a>

                    </p>
                    <p class="mb-0">
                        <!--<small><img src="assets/img/social/whatsapp.png" height="20px"; width="20px";/></small>-->
                        <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
                        <a href="https://wa.me/919815823505?text=I want to inquire about cakes" target="_blank">(+91) 9815823505</a>
                    </p>
                    <p class="mb-0">
                        <!--<small><img src="assets/img/social/gmail.webp" height="20px"; width="20px";/></small> -->
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:amybakes.chd@gmail.com">amybakes.chd@gmail.com</a>

                    </p>
                    <p class="mb-0">
                        <!--<small><img src="assets/img/social/instagram.png" height="20px"; width="20px";/></small> -->
                        <i class="fa-brands fa-instagram"></i>
                        <a href="https://www.instagram.com/amybakes_homemade/" target="_blank" rel="noopener noreferrer">amybakes_homemade</a>
                    </p>
                    <br/>
                    <p class="mb-0">
                        <table style="width:100%">
                            <tr>
                                <td align="left" >
                                    <p class="mb-0" align="left">
                                        R2 E806FF <br/>DLF Hyde Park<br/>New Chandigarh<br/>Punjab - 140901
                                    </p>
                                </td>
                                <td align="right">
                                    <p class="mb-0" align="right">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1713.413361911796!2d76.72911955802151!3d30.80749319913461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ff17f065e99b3%3A0x6b2a2ff1a884508d!2sR2%2FE806%2C%20DLF%20HYDE%20PARK%20TERRACES%20R2%2C%20New%20Chandigarh%2C%20Punjab%20140901!5e0!3m2!1sen!2sin!4v1659711185549!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </p>
                </div>

            </div>

        </div>

    </div>
</section>
